﻿﻿ /*//MVC provided content*/
body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
    display: flex;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    width: 100%*/;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*//End MVC provided content*/
body, html {
    background-color: #463249;
    /*height: 100%;*/
    display: flex;
    align-content: space-around;
    width: 100vw;
}

/*Navbar area*/
.my-navbar {
    background-color: #060007;
    opacity: .8;
    position: fixed;
    z-index: 0;
    display: inline-flex;
    height: 10vh;
    justify-content: flex-end;
}

.my-logo-container, .my-btn-group-container {
    display: inline-flex;
}

.my-logo-container {
}

.my-logo {
    height: 10vh;
    width: auto;
    margin-top: 1vh;
}

.my-btn-grp {
    display: inline-flex;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin-top: 1vh;
}

.my-btn {
    background-color: #463249;
    color: white;
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
}
/*End navbar area*/

/*structure and layout*/
.colorbox-container {
    border: solid 2px black;
    height: 80vh;
    width: 90vw;
    margin-top: 15vh;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

p {
    display: inline-block;
}

.jumbo-container {
    display: flex;
    flex-wrap: wrap;
}
