﻿ /*//MVC provided content*/
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*//End MVC provided content*/
body {
    background-color: #1F0023;
}

.my-navbar {
    background-color: #29022E;
    opacity: .8;
    position: absolute;
    z-index: 1;   
    display: flex;
    height: 128px;
}

.my-logo-container{
    width: 60%;
    max-width: 60%;
}

.my-btn-grp-container {
    width: 40%;
    justify-content: flex-end;
}

.my-logo-container, .my-btn-group-container{
    display: inline-block;
}

.my-btn-grp{
    text-align: right;
}

.my-btn {
    background-color: white;
    color: #1F0023;
    display: inline-flex;
    margin-top: 45px;
    margin-bottom: 45px;
}

.my-logo {
    max-height: 100%;
    display: inline-flex
}

.my-body-content{
    margin-top: 128px;
}

.my-dark-container, .my-light-container{
    display: inline-flex;
}

.my-dark-container{
    background-color: #10811B;
}

.my-light-container{

}

.my-content-square{
    height: 50px;
    width: 50px;
    background-color: #463429;
}
