@* About Me *@
<div class="container-fluid jumbo-container" id="aboutMeDiv">
    <div class="col-sm-12 col-md-6">
        <div class="container-fluid"><img class="meAndCharlie img-fluid rounded mx-auto d-block" src="~/Images/meAndCharlie.jpeg" /></div>
    </div>
    <div class="col-sm-12 col-md-6">
        <h1> About Me </h1>
        <p> Here is a bunch of text wherin I describe my personality and aspirations and all of that fun stuff. I'll do that later though. </p>
    </div>
</div>