﻿<div class="jumbotron jumbotron-fluid colorbox-container">
    @* About Me *@
    <div class="container-fluid jumbo-container">
        <div class="col-6">
            <img class="meAndCharlie img-fluid" src="~/Images/meAndCharlie.jpeg" />
        </div>
        <div class="col-6">
            <h1> About Me </h1>
            <p> Here is a bunch of text wherin I describe my personality and aspirations and all of that fun stuff. I'll do that later though. </p>
        </div>
    </div>

    @* contact me *@
    <div class="container-fluid jumbo-container" hidden="hidden">
        <ul>
            <li>githup</li>
            <li>linkedin</li>
            <li>email address</li>
        </ul>
    </div>

    @* portfolio *@


</div>
<script></script>