<div class="colorbox-container">
    <div class="colorbox my-dark-container">
        <div class="content-box">
            I have things typed here
        </div>
    </div>
    <div class="colorbox my-light-container">
        <div class="content-box">

        </div>
    </div>
    <div class="colorbox my-light-container">
        <div>
            <div class="content-box">

            </div>
        </div>
    </div>
    <div class="colorbox my-dark-container">
        <div>
            <div class="my-content-box">

            </div>
        </div>
    </div>
</div>
