<div class="container-fluid my-big-content-box">
    <div class="row">
        <div class="col my-dark-container"></div>
        <div class="col my-light-container"></div>
    </div>
    <div class="row">
        <div class="col my-light-container"></div>
        <div class="col my-dark-container"></div>
    </div>
</div>