<div class="jumbotron jumbotron-fluid colorbox-container">
    <div class="container-fluid" id="welcome-message">
        <h1 class="display-4">Hello and welcome to my portfolio page</h1>
    </div>
    <div class="container-fluid jumbo-container">
        <img class="meAndCharlie" src="~/Images/meAndCharlie.jpeg" />
        <div>
            <h1> About Me </h1>
            <p> Here is a bunch of text wherin I describe my personality and aspirations and all of that fun stuff. I'll do that later though. </p>
        </div>
    </div>
</div>

<script>
</script>